[Unit]
Description=Deploy Kuma control-plane
After=network.target
Documentation=https://kuma.io

[Service]
Environment=KUMA_GENERAL_ADVERTISED_HOSTNAME=kuma-cp
Environment=KUMA_BOOTSTRAP_SERVER_PARAMS_XDS_HOST=kuma-cp
Environment=KUMA_DATAPLANE_TOKEN_SERVER_PUBLIC_ENABLED=true
Environment=KUMA_DATAPLANE_TOKEN_SERVER_PUBLIC_INTERFACE=0.0.0.0
Environment=KUMA_DATAPLANE_TOKEN_SERVER_PUBLIC_PORT=5684
Environment=KUMA_DATAPLANE_TOKEN_SERVER_PUBLIC_TLS_CERT_FILE=/vagrant/.vagrant.data/control-plane/var/secrets/kuma.io/kuma-cp/tls/server.crt
Environment=KUMA_DATAPLANE_TOKEN_SERVER_PUBLIC_TLS_KEY_FILE=/vagrant/.vagrant.data/control-plane/var/secrets/kuma.io/kuma-cp/tls/server.key
ExecStart=/opt/kuma/bin/kuma-cp run
Restart=always
RestartSec=1s
# disable rate limiting on start attempts
StartLimitIntervalSec=0
StartLimitBurst=0
User=vagrant

[Install]
WantedBy=multi-user.target
