[Unit]
Description=Kuma dataplane deployed next to the "backend" service.
After=network.target
Documentation=https://kuma.io

[Service]
Environment=KUMA_DATAPLANE_MESH=default
Environment=KUMA_DATAPLANE_NAME=backend
Environment=KUMA_CONTROL_PLANE_API_SERVER_URL=http://kuma-cp:5681
Environment=KUMA_DATAPLANE_RUNTIME_TOKEN_PATH=/vagrant/.vagrant.data/backend/var/secrets/kuma.io/kuma-dp/token
Environment=KUMA_DATAPLANE_ADMIN_PORT=9901
ExecStart=/opt/kuma/bin/kuma-dp run
Restart=always
RestartSec=1s
# disable rate limiting on start attempts
StartLimitIntervalSec=0
StartLimitBurst=0
User=vagrant

[Install]
WantedBy=multi-user.target
